.container{
  display: flex;
  justify-content: space-between;
background-color: aliceblue;
width: 100%;
border-radius: 5px;
}

.contact{
  display: flex;
  flex-direction:column;
 

}
.nameBlock{
  display: flex;
}
.icon {
  width: 20px;
  display: block;
  margin: 8px 5px 0 5px;

}
.text{
  margin: 5px;
  height: 20px;
}
 .Button{
  font-size: 20px;
  font-weight: 600;
  height: 25px;
  /* margin: auto 10px; */
  
 }