.form{
  border: 1px solid #292727;
  border-radius: 8px;
width: 322px;
padding: 20px;
background-image: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%)
}
.contactBlock{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.label{

  text-align: left;
  
  border-radius: 5px;
}
.error{
  font-size: 13px;
  text-align: left;
  color: red;
  margin: 0;
}
.button{
  margin-top: 30px;
}