.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 300px;
  margin-top: 30px;
  padding: 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
}

.contactBlock {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.label {
  text-align: start;
}

.field {
  width: 100%;
  height: 26px;
  border-radius: 3px;
  border: none;
  outline: none;
  padding-left: 8px;
}

.error {
  text-align: start;
  color: red;
}