.container {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        url('../../assets/img/phone-book.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
}


title {
  font-weight: 500;
    font-size: 48;
    text-align: center;
}

